@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
    font-family: fruit;
    src: url(../fonts/fruits.otf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: fruit, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Poppins', sans-serif;
}
.bg-blue{
    background-color: #212a43;
}
.bg-danger2{
    background: #D5385F;
}
.bg-danger3{
    background: #5C327A;
}
.bg-danger4{
    background: #43235a;
}
.bg-purple{
    background: #1F1631;
}
.bg-warning2{
    background: #FA9005;
}
.text-danger2{
    color: #D5385F !important;
}
.text-success2{
    color: #376118;
}
.text-dark2{
   color: #161616;
}
.text-orange{
   color: #ffa500;
}
.top-10{
    top:10%;
}
.top-15{
    top:15%;
}
.top-20{
    top:20%;
}
p{
    font-size: 14px;
    margin: 0px;
    line-height: 25px;
}


/* Banner Section Start */
.banner{
    width: 100%;
    height: 550px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                url(../img/banner.jpg);
    background-size: 100% 100%;
}
.nav-tabs .nav-link.active {
    background: #D5385F;
}
.form-control:focus {
    box-shadow: 0px 0px 0px;
}
/* Banner Section End */

/* fun section start */
.fun{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/fun.jpg);
    background-size: cover;
    background-position: 100% 100%;

}
.newsletter{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../img/news3.jpg);
    background-size: cover;
}
/* /fun section end */









/* Media Query Section Start */
@media screen and (min-width:992px) {
    .circle{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        position: absolute;
        top:7%;
        right: 0%;
    }
}
@media screen and (max-width:576px) {
    .top-15{
        top:10%;
    }
    
}
@media screen and (max-width:320px) {
    .btn-width-80{
        width: 80px !important;
        font-size: 10px !important;
        margin: 0px auto;
    }
}
/* Media Query Section End */